.draggable { 
	margin: 0 0 0 0; 
	font-size: .5em; 
	border-style: solid;
    border-width: 1px;
	}

#wrapper {
	width: 100%; 
	overflow: hidden;
}  

#settings {
	float: left;
	width: 200px;
}

.div-table{
  display:table;         
}
.div-table-row{
  display:table-row;
  height:18px;
  
}
.div-table-cell{
  display: table-cell;
  border: 1px dashed #ccc;
  border-width: thin;
  width:18px;

}

#piececontainer{
	left-margin: 220px;
}

.tread {
	background-color: #C0C0C0;
}

.paver {
	background-color: #FFFFFF;
}

.paverheading {
	font-weight: bold;
}

.note {
	font-style: italic;
}