#draggable { margin: 0 0 0 0; font-size: .5em; }
  .ui-widget-header p, .ui-widget-content p { margin: 0; }

#wrapper {
	width: 100%; 
	overflow: hidden;
}  

#settings {
	float: left;
	width: 200px;
}

.div-table{
  display:table;         
}
.div-table-row{
  display:table-row;
  height:40px;
  
}
.div-table-cell{
  display: table-cell;
  border: 1px dashed #ccc;
  border-width: thin;
  width:40px;

}

#piececontainer{
	left-margin: 220px;
}
